{{!-- Creating Movies Releases table --}}
<table id="moviesreleases-table">
{{!-- Header section --}}
    <thead>

        {{!--Insert button --}}
        <div>
            <form action="/add-movies-releases-form" method="get">
                <button type="submit">Insert New</button>
            </form>

        {{!-- Search Form --}}

        <form id="input-title-search" method='GET' action='/movies-releases'>
            <label for="input-title"></label>
            <input type="text" name="title" id="input-title-search" placeholder="Search movie title...">

            <input type="submit">
            <a href='/'><button>Reset</button></a>
        </form>
        </div>

    <tr>
        <th>Movie ID</th>
        <th>Title</th>
        <th>Release ID</th>
        <th>Year - Month </th>
        <th>Operations</th>
    </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr data-value={{this.Movies_movieID}}>
            <td>{{this.Movies_movieID}}</td>
            <td>{{this.movieTitle}}</td>
            <td>{{this.Releases_releaseID}}</td>
            <td>{{this.releaseYear}} - {{this.releaseMonth}}</td>
            <td>
                <a href="/update-movies-releases-form/{{this.Movies_movieID}}/{{this.Releases_releaseID}}"><button type="submit">Update</button> </a>
                <button onclick="deleteMoviesReleases('{{this.Movies_movieID}}', '{{this.Releases_releaseID}}')">Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete-movies-release.js"></script>
